

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="Logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IND-Stock</title>
</head>
<body>

<div class="heading">
    <h1>IND-Stock</h1>
</div>

<div class="container logo-box">
    <img class="logo" src="Logo.png" alt="logo" >
</div>

<div class="buttons container">
    <a href="/register"><button type="button" class="button yellow"> Sign Up </button></a>
    <a href="/login"><button type="button" class="button yellow" > Log In </button></a>
    <a href="/shop"><button type="button" class="button blue" > Register As Shop </button></a>
    <a href="/shop-login"><button type="button" class="button blue" > Log In As Shop </button></a>
</div>

    
</body>
</html>
  
  
