<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <img src="Logo.png" class="logo" alt="">
    <h1 class="display-3">IND-Stock</h1>
    <p class="lead">Find your essentials efficiently!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    <a class="btn btn-success btn-lg" href="/shop" role="button">Register as a Shop</a>

  </div>
</div>
  
  

<%- include('partials/footer') %>
