body{
    background-color: #cccccc;;
}


.sub-head{
    padding-left: 82px;
}

.sub-para{
    padding-left: 82px;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.container{
    font-size: 2rem;
    text-align: center;
}

.shop-name{
    font-size: 3.4rem;
}

.fa-arrow-left{
    padding-right:5px 
}

.form-signin {
  width: 100%;
  max-width: 330px;
  margin-left: 440px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-signin input[type="text"] {
    /*margin-bottom: 10px;*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 20px;
  }

.btn{
    margin-bottom: 25spx;
}

.submit-btn{
    margin-top: 10px;
}

.row{
    margin-top: 10px;
    margin-bottom: 25px;
}

.col-lg{
    margin: 10px;
}

.back{
    margin-left: 5.5rem;
    margin-bottom: 2rem;
}

table{
    margin: 30px auto;
}

td{
   padding-left: 50px;
   padding-right: 50px;
}

.product{
    font-size: 2rem;
}